{% extends "./layout.html" %}

{% block content %}
<form action="/contacts/{{ contact.id }}/edit" method="post" class="flex flex-col gap-10">
  {% csrf_token %}
  <fieldset class="bg-white p-8 border border-gray-300 rounded-md">
    <legend class="text-lg font-semibold mb-4">Contact Values</legend>

    <div class="mb-4">
      <label for="first_name" class="block text-gray-700 text-sm font-bold mb-2">First Name</label>
      <input name="first_name" id="first_name" type="text" placeholder="First Name" value="{{ contact.first }}" class="w-full px-3 py-2 border rounded-md">
    </div>

    <div class="mb-4">
      <label for="last_name" class="block text-gray-700 text-sm font-bold mb-2">Last Name</label>
      <input name="last_name" id="last_name" type="text" placeholder="Last Name" value="{{ contact.last }}" class="w-full px-3 py-2 border rounded-md">
    </div>

    <div class="mb-6">
      <label for="phone" class="block text-gray-700 text-sm font-bold mb-2">Phone</label>
      <input name="phone" id="phone" type="text" placeholder="Phone" value="{{ contact.phone }}" class="w-full px-3 py-2 border rounded-md">
    </div>

    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
      Save
    </button>
  </fieldset>
</form>

<br />

<div class="flex justify-between items-center">
  {% csrf_token %}
  <button
    hx-delete="/contacts/{{ contact.id }}"
    hx-push-url="true"
    hx-confirm="Are you sure you want to delete this contact?"
    hx-target="body"
    class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 focus:outline-none focus:shadow-outline-red active:bg-red-800">Delete Contact</button>
    
  <p>
    <a class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800" href="/contacts/">Back</a>
  </p>
</div>
{% endblock %}
