{% extends './layout.html' %}

{% block content %}
  <div class="p-6">
    <form action="/contacts" method="get" class="tool-bar">
      {% include './archive.html' %}
      <div class="mt-1 mb-4 relative rounded-md shadow-sm border-2 border-black">
        <input
          hx-get="/contacts"
          hx-trigger="change, keyup delay:200ms changed"
          hx-target="tbody"
          hx-select="tbody tr" 
          hx-push-url="true"
          hx-indicator="#spinner"
          id="search" type="search" placeholder="search contacts..." name="q" value="{{ request.GET.q|default:'' }}"
          class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-3 pr-10 py-2 outline-slate-500 border-slate-800 rounded-md sm:text-sm"/>
        <img id="spinner" class="htmx-indicator" src="./static/img/spinner.gif" alt="Request In Flight..."/> 
        <button type="submit"
                class="absolute inset-y-0 right-0 flex items-center px-4 text-white bg-indigo-600 border border-indigo-600 rounded-r-md hover:bg-indigo-700 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 focus:outline-none">
          Search
        </button>
      </div>
    </form>

    <form>
      <table class="min-w-full bg-white border border-gray-300 divide-y divide-gray-200 rounded-md overflow-hidden">
        <thead class="bg-indigo-600 text-white">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"></th>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">First</th>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Last</th>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Phone</th>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Email</th>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"></th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
          {% include './row.html' %}
          {% if contacts|length == 10 %}
          <tr>
            <td colspan="5" class="text-center py-4">
              <button hx-target="closest tr" 
                      hx-swap="outerHTML"   
                      hx-select="tbody > tr" 
                      hx-get="/contacts?page={{ page|add:'1' }}"
                      class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring focus:border-indigo-300">
                Load More
              </button>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>

      <button hx-delete="/contacts"
              hx-confirm="Are you sure you want to delete these contacts?"
              hx-target="body"
              class="mt-4 bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700 focus:outline-none focus:ring focus:border-red-300">
        Delete Selected Contacts
      </button>
    </form>

    <div class="p-4 w-full mt-4 flex justify-end">
      {% if page > 1 %}
      <a href="/contacts?page={{ page|add:'-1' }}" class="text-blue-500 hover:text-blue-700 mr-4">Previous</a>
      {% endif %}
      {% if contacts|length == 10 %}
      <a href="/contacts?page={{ page|add:'1' }}" class="text-blue-500 hover:text-blue-700">Next</a>
      {% endif %}
    </div>
  </div>

  <button class="ml-5 p-2 bg-blue-700 text-white flex items-center justify-center rounded-md cursor-pointer mb-5">
    <a href="/contacts/new" class="text-white">Add Contact</a>
    <span class="ml-2 text-gray-300"
      hx-get="/contacts/count"
      hx-trigger="revealed"
      hx-swap="outerHtml">
  </button>

{% endblock %}
